.nav {
    display: flex;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
  }

  .containerNav{
    height: 90px;
  }

@media
(width >= 400px) and
(width <= 700px){

  .containerNav{
    height: 60px;
  }
}