.nav {
  display: flex;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.containerNav {
  height: 90px;
  width: 100%;
}

@media (width >= 400px) and (width <= 700px) {
  .containerNav {
    height: 60px;
  }
}

@media (width < 400px) {
  .containerNav {
    height: 60px;
  }
}