.mediaContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mantenemos estas propiedades para que la TiltedCard quede centrada */
}

.profileImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}