.tittle {
  display: flex;
  padding: 0;
  width: 100%;
  background-color: #031a29;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.text {
  display: flex;
  font-size: 60px;
  color: #66e55b;
  font-weight: bold;
}

@media (width >= 400px) and (width <= 700px) {
  .tittle {
    height: 60px;
  }
  .text {
    font-size: 40px;
  }
}

@media (width < 400px) {
  .text {
    font-size: 40px;
  }
}
