/* Fondo oscuro semi-transparente */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modal {
  width: 80%;
  height: 85%;
  background-color: rgba(3, 26, 41, 0.7);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

/* Botón para cerrar */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* Título */
.title {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

/* Formulario */
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

/* Columna del formulario */
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

/* Grupos de formularios */
.formGroup {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2px 0;

}

/* Etiqueta */
.label {
  font-size: 1rem;
  color: #fff;
}

/* Inputs */
.input,
.textarea,
.fileInput {
  width: 95%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(87, 102, 112, 0.5);
  color: #fff;
}

/* Área de texto */
.textarea {
  height: 180px;
  resize: none;
}

/* Contador de caracteres */
.charCount {
  font-size: 0.85rem;
  text-align: right;
  color: #ccc;
}

.formGroupButton{
  width: 100%;
}

.button {
  background-color: rgba(102, 229, 91, 0.5);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 1rem;
}

.button:hover {
  background-color: rgba(76, 183, 70, 0.5);
}

.cancelButton {
  background-color: rgba(255, 92, 92, 0.5);
  color: #fff;
}

.cancelButton:hover {
  background-color: rgba(214, 69, 69, 0.5);
}


@media (width >= 600px) and
(width <= 1240px){
  .input,
  .textarea,
  .fileInput {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .textarea{
    height: 282px;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
  }
}

@media (width >= 400px) and
(width <= 700px) {
  .modal{
    height: auto;
  }
  .input,
  .textarea,
  .fileInput {
    padding: 0.5rem;
    font-size: 0.7rem;
    color: #fff;
  }
  .textarea{
    height: 260px;
  }
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  }
  .title {
    font-size: 1.4rem;
  }
  .button {
    padding: 0.5rem 1rem;
  }

}